{% extends "base.html" %}

{% block title %} Register | Page {% endblock %}

{% block content %}
<h1>Register Page</h1>

    <div class="row justify-content-center">
            {% for errors in form.errors.values() %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endfor %}
        <form method="POST" enctype="multipart/form-data" class="col-6 p-5">
            {{ form.hidden_tag() }}
            <div class="row">
                {{ form.image(class="form-control", accept=".png, .jpg, .jpeg") }}
            </div>
            <div class="row mt-2">
                {{ form.username(class="form-control", placeholder=form.username.label.text) }}
            </div>
            <div class="row mt-2">
                {{ form.password(class="form-control", placeholder=form.password.label.text) }}
            </div>
            <div class="row mt-2">
                {{ form.confirm_password(class="form-control", placeholder=form.confirm_password.label.text) }}
            </div>
            <div class="row mt-2">
                {{ form.mobile(class="form-control", placeholder=form.mobile.label.text) }}
            </div>
            <div class="row mt-2">
                {{ form.birthdate(class="form-control") }}
            </div>
            <div class="row mt-2">
                {{ form.gender(class="form-control") }}
            </div>
            <div class="row mt-2">
                {{ form.country(class="form-control", placeholder=form.country.label.text) }}
            </div>
            <div class="row mt-2">
                {{ form.register(class="btn btn-success", placeholder=form.register.label.text) }}
            </div>
        </form>
    </div>

{% endblock %}



